html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #cccccc;
}

.container {
  background-color: #ffffff;
  margin: 30px auto;
  padding: 20px;
  width: 33%;
  border-radius: 5px;
}

.container .title {
  text-align: center;
}

.container .input {
  margin-bottom: 20px;
  outline: 0;
  padding: 12px;
  width: 80%;
  font-size: 12px;
}

.button {
  cursor: pointer;
  border: 0;
  outline: 0;
  margin-left: 10px;
  background-color: #008cbd;
  padding: 14px 20px;
  color: #ffffff;
  display: inline-block;
}

.todo {
  width: 80%;
  margin-bottom: 10px;
}

.todo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo_input {
  outline: 0;
  padding: 12px;
  width: 50%;
  font-size: 12px;
}

.todo__text {
  font-size: 18px;
}
